@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Comfortaa'),
         url('fonts/comfortaa-v28-latin-700.woff2') format('woff2'),
         url('fonts/comfortaa-v28-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('fonts/open-sans-v17-latin-italic.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('fonts/open-sans-v17-latin-700.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
         url('fonts/open-sans-v17-latin-700italic.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-700italic.woff') format('woff');
}

:root {
    --color-white: #FDFCFF;
    --color-black: #0c0c0d;
    --color-grey-1: #665e6c;
    --color-grey-2: #DFDAE6;
    --color-grey-3: #EFEDF2;
    --color-purple-1: #7762df;
    --color-purple-2: #4500d0;
    --color-purple-3: #eeebfb;
    --color-turquoise-1: #00d0ad;
    --color-turquoise-2: #00baad;
    --color-red-1: #ba1109;

    --color-text: var(--color-black);
    --color-text-secondary: var(--color-grey-1);
    --color-link: var(--color-purple-2);
    --color-body: var(--color-white);

    --size-base: calc(1.6em + 0.5vw);
    --size-small: 85%;
    --size-large: 125%;

    --space-base: 1em;
    --space-small: calc(var(--space-base) / 4);
    --space-medium: var(--space-base);
    --space-large: calc(var(--space-base) * 4);

    --font-family-text: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-family-title: Comfortaa, cursive;
}

@media (min-width: 48em) {
    :root {
        --size-base: 2.2em;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

    font-size: 10px;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    color: var(--color-text);
    font-family: var(--font-family-text);
    font-size: var(--size-base);

    background-color: var(--color-body);
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;

    transition: color .3s ease-in-out;
}

a:hover,
a:focus {
    color: var(--color-link);
}

.call-to-action {
    display: inline-block;
    padding: var(--space-small) var(--space-medium);

    text-decoration: none;

    border: .1em solid var(--color-text);
    border-radius: 1em;
}

.call-to-action:hover,
.call-to-action:focus {
    border-color: inherit;
}

.header {
    margin-bottom: var(--space-large);

    font-family: var(--font-family-title);
    text-align: center;
    text-transform: lowercase;
    letter-spacing: .01em;
}

.header__title {
    display: inline-block;
}

.header__title::after {
    display: block;
    height: .3rem;
    max-width: 75%;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(to right, var(--color-turquoise-1),
                                          var(--color-turquoise-2));
    border-radius: .5em;

    content: "";
}

.paragraph--featured {
    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--secondary {
    color: var(--color-text-secondary);
}

.paragraph--center {
    text-align: center;
}

.paragraph--limit {
    max-width: 50ch;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

hr {
    width: 50%;
    height: 0.3rem;
    margin: var(--space-large) auto;

    background: linear-gradient(to right, var(--color-turquoise-1), var(--color-turquoise-2), var(--color-turquoise-1));
    border: none;
    border-radius: 2em;
}

.sr-only {
    position: absolute;

    height: 1px;
    width: 1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.columns {
    display: flex;

    flex-direction: column;
}

@media (min-width: 48em) {
    .columns {
        flex-direction: row;
    }

    .columns--center {
        align-items: center;
    }
}

.columns--spaced {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
}

.columns--background {
    background-color: var(--color-grey-3);
    border-radius: 5rem;
}

.columns__item {
    padding: var(--space-small);

    flex: 1;
}

.columns__item--center {
    text-align: center;
}

@media (min-width: 48em) {
    .columns__item + .columns__item {
        margin-left: var(--space-medium);
        padding-left: var(--space-medium);
    }

    .columns--background .columns__item + .columns__item {
        border-left: 1rem solid var(--color-body);
    }
}

.illustration {
    display: block;
    margin: var(--space-large) var(--space-medium);
}

.illustration--centered {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 48em) {
    .illustration--pull-left {
        float: left;
    }

    .illustration--pull-right {
        float: right;
    }
}

.layout__header {
    display: flex;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);

    align-items: center;
    justify-content: space-between;
}

.layout__header-separator {
    flex: 1;
}

.layout__header-link {
    padding-left: var(--space-medium);
    padding-right: var(--space-medium);
    margin-right: var(--space-medium);
}

.layout__nav {
    max-width: 80ch;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 48em) {
    .layout__nav {
        margin-left: auto;
        margin-right: auto;
    }
}

.layout__nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.layout__nav a {
    display: block;
    padding: 1.5rem 2rem 1.5rem 5.5rem;

    text-decoration: none;

    border: 0.25rem solid var(--color-purple-1);
    border-bottom: none;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: 1rem center;
}

.layout__nav a[aria-current="page"] {
    background-color: var(--color-purple-3);
}

.layout__nav li:first-child a {
    border-top-left-radius: 1rem;
}

.layout__nav li:last-child a {
    border-top-right-radius: 1rem;
}

.layout__nav li + li a {
    border-left: none;
}

.layout__nav-item--subscription a {
    background-image: url("icons/commerce/credit-card-line.svg");
}

.layout__nav-item--profile a {
    background-image: url("icons/core/user-line.svg");
}

.layout__content {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-large);

    border-top: 0.25rem solid var(--color-purple-1);
}

@media (min-width: 48em) {
    .layout__content {
        padding: 0.2rem;

        background-image: linear-gradient(178deg, var(--color-purple-1), var(--color-purple-3) 2%);
        border-top: none;
    }
}

.section {
    padding: var(--space-small);
    padding-bottom: var(--space-large);

    background-color: var(--color-white);
}

.section--text {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-medium);
    padding-right: var(--space-medium);
}

.section__intro {
    max-width: 50ch;
    margin: var(--space-large) auto;

    text-align: center;
    font-style: italic;
}

.section__outro {
    margin-top: var(--space-large);
}

.navaccount {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
}

.navaccount__container {
    max-width: 50ch;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.navaccount__item {
    border: .2rem solid var(--color-purple-1);
}

.navaccount__item + .navaccount__item {
    border-top: none;
}

.navaccount__item:first-child,
.navaccount__item:first-child .navaccount__link,
.navaccount__item:first-child .navaccount__button {
    border-radius: 1rem 1rem 0 0;
}

.navaccount__item:last-child,
.navaccount__item:last-child .navaccount__link,
.navaccount__item:last-child .navaccount__button {
    border-radius: 0 0 1rem 1rem;
}

.navaccount__item--featured {
    font-weight: bold;
}

.navaccount__link,
.navaccount__button {
    display: block;
    padding: var(--space-medium);

    color: var(--color-text);
    text-decoration: none;

    transition:
        background-color .3s ease-in-out,
        color .3s ease-in-out;
}

.navaccount__link:hover,
.navaccount__link:focus,
.navaccount__button:hover,
.navaccount__button:focus {
    color: var(--color-link);

    background-color: var(--color-purple-3);
}

.navaccount__item--featured .navaccount__link,
.navaccount__item--featured .navaccount__button {
    color: var(--color-link);
}

.navaccount__link {
    padding-left: 6rem;

    background-repeat: no-repeat;
    background-position: 1rem center;
}

.navaccount__button {
    width: 100%;

    text-align: left;
    font-size: 1em;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.navaccount__link--subscription {
    background-image: url("icons/commerce/credit-card-line.svg");
}

.navaccount__link--give {
    background-image: url("icons/social/heart-line.svg");
}

.navaccount__link--common-pot {
    background-image: url("icons/commerce/piggy-bank-line.svg");
}

.navaccount__link--address {
    background-image: url("icons/travel/map-marker-line.svg");
}

.navaccount__button--leave {
    font-weight: bold;
    text-align: center;

    background-color: var(--color-purple-3);
}

.error-box {
    position: absolute;
    left: 0;
    right: 0;

    padding: var(--space-medium);

    text-align: left;
    color: var(--color-white);

    background-color: var(--color-black);

    overflow: auto;
}

table {
    width: 100%;
}

table td {
    padding: var(--space-small);
}

table tbody tr:nth-child(even) {
    background-color: var(--color-grey-3);
}

.row--ghost {
    color: var(--color-text-secondary);
}

.cell--right {
    text-align: right;
}

.faq__question {
    font-weight: bold;

    counter-increment: manifesto-counter;
}

.faq__question::before {
    width: 2.5rem;
    height: 2.5rem;

    color: var(--color-text-secondary);
    font-size: var(--size-small);

    content: counter(manifesto-counter) " ·";
}

.faq__answer {
    margin-bottom: var(--space-medium);
}
