.button--default {
    padding: .5em 1em;

    font-size: 1em;
    color: var(--color-text);

    background-color: var(--color-grey-3);
    border: .2rem solid var(--color-grey-1);
    border-radius: 1.5em;

    transition: background-color .2s ease-in-out;
}

.button--default:hover,
.button--default:focus {
    background-color: var(--color-grey-2);
}

.button--primary {
    padding: .5em 1.5em;

    color: var(--color-text);
    font-size: var(--size-large);

    background-color: var(--color-turquoise-1);
    border: .2rem solid var(--color-text);
    border-radius: 1.5em;

    transition: background-color .2s ease-in-out;
}

.button--primary:hover,
.button--primary:focus {
    background-color: var(--color-purple-1);
}

.button--ghost {
    padding: .5em 1em;

    font-size: 1em;
    color: var(--color-text);

    background-color: var(--color-grey-3);
    border: none;
    border-radius: 1.5em;

    transition: background-color .2s ease-in-out;
}

.button--ghost:hover,
.button--ghost:focus {
    background-color: var(--color-grey-2);
}

label {
    display: block;
    margin-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

input,
textarea {
    width: 100%;
    height: 2.5em;
    padding: .5em;

    color: var(--color-black);
    font-size: 1em;
    font-family: inherit;

    background-color: var(--color-white);
    border: .25rem solid var(--color-grey-1);
    border-radius: .25em;
    box-shadow: 2px 2px 4px var(--color-grey-2) inset;

    transition: border .2s ease-in-out;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    height: auto;

    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 10em;
}

input:focus,
textarea:focus {
    border-color: var(--color-turquoise-2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    position: relative;

    display: inline-flex;
    margin-bottom: 0;

    align-items: center;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    content: ' ';

    position: relative;

    width: 2.5rem;
    height: 2.5rem;
    margin-right: var(--space-small);

    flex-shrink: 0;

    background-color: var(--color-grey-3);
    border: 0.25rem solid var(--color-grey-1);
    border-radius: 50%;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type="checkbox"] + label::before {
    border-radius: 0.5rem;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
    background-color: var(--color-turquoise-1);
    border-color: var(--color-black);
}

input[type="radio"]:checked[disabled] + label::before,
input[type="checkbox"]:checked[disabled] + label::before {
    background-color: var(--color-grey-2);
    border-color: var(--color-grey-1);
}

input[type="radio"]:checked[disabled] + label::after,
input[type="checkbox"]:checked[disabled] + label::after {
    opacity: 0.6;
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0px 1px var(--color-purple-1);
}

input[type="radio"] + label::after {
    content: ' ';

    position: absolute;

    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;

    background-color: var(--color-black);
    border-radius: 50%;

    opacity: 0;

    transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"] + label::after {
    content: '';

    position: absolute;

    width: 1.5rem;
    height: 0.75rem;
    margin-top: -0.3rem;
    margin-left: 0.5rem;

    border-bottom: 0.25rem solid var(--color-text);
    border-left: 0.25rem solid var(--color-text);

    transform: rotate(-45deg);
    opacity: 0;

    transition: opacity 0.2s ease-in-out;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

select {
    width: 50%;
    height: 2.5em;
    padding: .25em;

    color: var(--color-black);
    font-size: 1em;
    font-family: inherit;

    background: linear-gradient(to bottom, var(--color-grey-3), var(--color-grey-2));
    border: .25rem solid var(--color-grey-1);
    border-radius: .25em;

    transition: border .2s ease-in-out;
}

select:hover {
    background: var(--color-grey-3);
}

select:focus {
    border-color: var(--color-turquoise-2);
}

fieldset {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
    padding: var(--space-small) var(--space-medium);

    border: .25rem solid var(--color-grey-2);
    border-radius: .25em;
}

legend {
    padding-left: var(--space-small);
    padding-right: var(--space-small);
}

.fieldset__caption {
    padding-left: .5em;
    padding-right: .5em;

    color: var(--color-grey-1);
    font-size: var(--size-small);
}

.form-group {
    margin-top: .5em;
    margin-bottom: 1em;
}

.form-group__stack {
    display: flex;

    align-items: baseline;
}

.form-group__caption {
    margin-top: -.25em;
    margin-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;

    color: var(--color-grey-1);
    font-size: var(--size-small);
}

.form-group__error {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: .5em;
    padding-right: .5em;

    color: var(--color-red-1);
}

.form-group--invalid input {
    border-color: var(--color-red-1);
}

.form__actions {
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);
    margin-bottom: var(--space-medium);

    text-align: center;
}

.form__error {
    padding-left: .5em;
    padding-right: .5em;

    color: var(--color-red-1);
}

/**
 * Custom styles
 */
.form--contact,
.form--common-pot,
.form--address,
.form--renew {
    max-width: 60ch;
    margin-right: auto;
    margin-left: auto;
}

.form--common-pot .columns__item,
.form--address .columns__item {
    padding: 0;
}

@media (min-width: 48em) {
    .form--common-pot .columns__item + .columns__item,
    .form--address .columns__item + .columns__item {
        margin-left: var(--space-medium);
    }
}

.form--common-pot .columns__item--postcode,
.form--address .columns__item--postcode {
    max-width: 8em;
}

.form-group--cgv {
    padding: var(--space-medium);

    background-color: var(--color-purple-3);
    border-radius: 0.75rem;
}

.form-group--reminder {
    padding: var(--space-medium);
}

/**
 * Amount selector on the subscription renewing page
 */
.amount-selector {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);

    text-align: center;
}

.amount-selector__choose-label {
    margin-top: var(--space-medium);

    font-size: 1.2em;
}

.amount-selector__input {
    max-width: 5em;
}

.amount-selector__container {
    display: flex;
    margin-bottom: var(--space-medium);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount-selector__container > * + * {
    margin-top: var(--space-medium);
}

@media (min-width: 48em) {
    .amount-selector__container {
        flex-direction: row;
    }

    .amount-selector__container > * + * {
        margin-top: 0;
    }
}

.amount-selector__item {
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);

    text-align: center;
}

.amount-selector__label {
    padding: var(--space-medium);

    flex-direction: column;

    font-size: var(--size-large);

    background-color: var(--color-white);
    border: .25rem solid var(--color-grey-2);
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 2px var(--color-grey-3);

    transition:
        background-color .2s ease-in-out,
        border-color .2s ease-in-out;
}

.amount-selector__radio:checked + .amount-selector__label {
    background-color: var(--color-turquoise-1);
    border-color: var(--color-turquoise-2);
}

.amount-selector__radio + .amount-selector__label::before {
    margin-right: 0;
    margin-bottom: var(--space-small);
}

.amount-selector__radio + .amount-selector__label::after {
    margin-top: 0.5rem;
    margin-left: 0;
}

.amount-selector__amount {
    display: block;

    font-size: var(--size-large);
    font-weight: bold;
}

.amount-selector__title {
    font-size: 0.9em;
    font-style: italic;
}

/* This is a honeypot input, it must not be filled! */
.form-group--website {
    display: none;
}
