@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: local('Comfortaa'),
         url('fonts/comfortaa-v28-latin-700.woff2') format('woff2'),
         url('fonts/comfortaa-v28-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('fonts/open-sans-v17-latin-italic.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('fonts/open-sans-v17-latin-700.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
         url('fonts/open-sans-v17-latin-700italic.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-700italic.woff') format('woff');
}

:root {
    --color-white: #FDFCFF;
    --color-black: #0c0c0d;
    --color-grey-1: #665e6c;
    --color-grey-2: #DFDAE6;
    --color-grey-3: #EFEDF2;
    --color-purple-1: #7762df;
    --color-purple-2: #4500d0;
    --color-turquoise-1: #00d0ad;
    --color-turquoise-2: #00baad;
    --color-red-1: #ba1109;

    --color-text: var(--color-black);
    --color-text-secondary: var(--color-grey-1);
    --color-link: var(--color-purple-2);
    --color-body: var(--color-white);

    --size-base: calc(1.6em + 0.5vw);
    --size-small: 85%;
    --size-large: 125%;

    --space-base: 1em;
    --space-small: calc(var(--space-base) / 4);
    --space-medium: var(--space-base);
    --space-large: calc(var(--space-base) * 4);

    --font-family-text: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-family-title: Comfortaa, cursive;
}

@media (min-width: 48em) {
    :root {
        --size-base: 2.2em;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

    font-size: 10px;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    color: var(--color-text);
    font-family: var(--font-family-text);
    font-size: var(--size-base);

    background-color: var(--color-body);
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;

    transition: color .3s ease-in-out;
}

a:hover,
a:focus {
    color: var(--color-link);
}

.call-to-action {
    display: inline-block;
    padding: var(--space-small) var(--space-medium);

    text-decoration: none;

    border: .2rem solid var(--color-text);
    border-radius: 1em;
}

.call-to-action:hover,
.call-to-action:focus {
    border-color: inherit;
}

.title {
    font-family: var(--font-family-title);
    text-align: center;
    text-transform: lowercase;
    letter-spacing: .01em;
}

.title .title__header {
    display: inline-block;
}

.title .title__header::after {
    display: block;
    height: .3rem;

    background: linear-gradient(to right, var(--color-turquoise-1),
                                          var(--color-turquoise-2));
    border-radius: .5em;

    content: "";
}

.paragraph--featured {
    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--secondary {
    color: var(--color-text-secondary);
}

.paragraph--center {
    text-align: center;
}

img {
    max-width: 100%;
}

hr {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);

    border: none;
}

hr::before,
hr::after {
    display: block;
    height: 1.75rem;
    margin-left: auto;
    margin-right: auto;

    border-radius: 2em;

    content: "";
}

hr::before {
    width: 16rem;
    margin-bottom: 1rem;

    background-color: var(--color-turquoise-1);
}

hr::after {
    width: 10rem;

    background-color: var(--color-turquoise-2);
}

.sr-only {
    position: absolute;

    height: 1px;
    width: 1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.columns {
    display: flex;

    flex-direction: column;
}

@media (min-width: 48em) {
    .columns {
        flex-direction: row;
    }

    .columns--center {
        align-items: center;
    }
}

.columns__item {
    padding: var(--space-small);

    flex: 1;
}

@media (min-width: 48em) {
    .columns__item + .columns__item {
        margin-left: var(--space-large);
    }
}

.illustration {
    display: block;
    margin: var(--space-large) var(--space-medium);
}

.illustration--centered {
    margin-left: auto;
    margin-right: auto;
}

.illustration.me {
    border-radius: 50%;
}

@media (min-width: 48em) {
    .illustration--pull-left {
        float: left;
    }

    .illustration--pull-right {
        float: right;
    }

    .illustration.collaboration {
        margin-top: 6em;
        margin-right: -5em;

        shape-outside: polygon(85px 65px, 300px 15px, 470px 80px, 480px 100%, 40px 100%, 0 50%);
    }

    .illustration.reading {
        margin-top: 1em;
        margin-left: -14em;
    }

    .illustration.time {
        margin-top: -6em;
        margin-right: -13em;
    }

    .illustration.privacy {
        margin-top: -6em;
        margin-left: -10em;
    }

    .illustration.me {
        margin-top: 0;
        margin-right: -3em;

        shape-outside: circle(53% at 125px center);
    }
}

.layout {
    display: grid;

    grid-template-columns: 1fr [main] 90vw 1fr;
    grid-template-rows: [header] minmax(12em, 40vmin) [main] 1fr [footer] 20em;
}

@media (min-width: 48em) {
    .layout {
        grid-template-columns: 1fr [main] 60ch 1fr;
    }
}

.layout--error {
    grid-template-rows: [header] minmax(5em, 30vmin) [main] 1fr;
}

.layout__header {
    grid-column: main;
    grid-row: header;

    display: flex;

    align-items: center;
    justify-content: center;
}

.layout--error .layout__header a {
    font-size: var(--size-large);
    text-decoration: none;
}

.layout__content {
    grid-column: main;
    grid-row: main;
}

.layout--error .layout__content {
    text-align: center;
}

.layout__footer {
    grid-column: main;
    grid-row: footer;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding: var(--space-small);
}

.section__intro {
    max-width: 50ch;
    margin: var(--space-large) auto;

    text-align: center;
    font-style: italic;
}

.section--features .section__intro {
    margin-top: 0;
}

.section__outro {
    margin-top: var(--space-large);
}

.features {
    max-width: 45ch;

    list-style: square;
}

.features__item + .features__item {
    padding-top: var(--space-medium);
}

.revenues {
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding-left: 0;

    justify-content: center;

    list-style: none;
}

.revenues__item {
    margin: var(--space-medium);
    padding: var(--space-small);
}

.revenues__amount {
    font-weight: bold;
    font-size: var(--size-large);
}

.revenues__label {
    color: var(--color-grey-1);
    font-size: var(--size-small);
}

.revenues__actions {
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);

    align-items: stretch;
    justify-content: space-around;
}

.revenues__button {
    display: flex;

    flex: 1;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.revenues__button + .revenues__button {
    margin-left: var(--space-medium);
}

.gauge {
    --gauge-value: 5%;

    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
}

.gauge__container {
    position: relative;

    display: flex;
    max-width: 8em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

    flex-direction: column;

    border: .2em solid var(--color-turquoise-2);
    border-radius: 2em;

    list-style: none;
}

@media (min-width: 48em) {
    .gauge__container {
        max-width: none;
        height: auto;

        flex-direction: row;
    }
}

.gauge__current {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: var(--gauge-value);

    background-color: #ACE6E1;

    border-radius: 2em 2em 0 0;
}

@media (min-width: 48em) {
    .gauge__current {
        bottom: 0;

        height: auto;
        width: var(--gauge-value);

        border-radius: 2em 0 0 2em;
    }
}

.gauge__item {
    display: flex;
    padding: var(--space-small) var(--space-medium);

    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--size-small);
    text-align: center;
}

.gauge__item + .gauge__item {
    border-top: .2em solid var(--color-turquoise-2);
}

@media (min-width: 48em) {
    .gauge__item + .gauge__item {
        border-top: none;
        border-left: .2em solid var(--color-turquoise-2);
    }
}

.gauge__item--purchases {
    flex-basis: 8%;
}

.gauge__item--services {
    flex-basis: 16.5%;
}

.gauge__item--social {
    flex-basis: 16.5%;
}

.gauge__item--salary {
    flex-basis: 59%;
}

.gauge__status {
    text-align: center;
}

.gauge__about {
    font-size: var(--size-small);
    text-align: center;
    font-style: italic;
}

.manifesto {
    max-width: 35ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

    text-align: center;

    list-style: none;
}

.manifesto__item {
    margin-top: var(--space-large);

    counter-increment: manifesto-counter;
}

.manifesto__item::before {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    color: var(--color-text-secondary);
    font-size: var(--size-small);

    content: "· " counter(manifesto-counter) " ·";
}

.sharing {
    display: flex;
    padding-left: 0;

    justify-content: center;

    list-style: none;
}

.sharing__item + .sharing__item {
    margin-left: var(--space-medium);
}

.sharing__link {
    display: flex;
    width: 2em;
    height: 2em;
    padding: var(--space-small);

    align-items: center;
    justify-content: center;

    color: var(--color-white);
    font-size: var(--size-large);
    text-decoration: none;

    background-color: var(--color-black);
    border-radius: .25em;

    transition: background-color .2s ease-in-out;
}

.sharing__item--mail .sharing__link:hover,
.sharing__item--mail .sharing__link:focus {
    color: var(--color-white);
    background-color: var(--color-turquoise-2);
}

.sharing__item--twitter .sharing__link:hover,
.sharing__item--twitter .sharing__link:focus {
    color: var(--color-white);
    background-color: #1da1f2;
}

.sharing__item--facebook .sharing__link:hover,
.sharing__item--facebook .sharing__link:focus {
    color: var(--color-white);
    background-color: #1877F2;
}

.faq__question {
    font-weight: bold;

    counter-increment: manifesto-counter;
}

.faq__question::before {
    width: 2.5rem;
    height: 2.5rem;

    color: var(--color-text-secondary);
    font-size: var(--size-small);

    content: counter(manifesto-counter) " ·";
}

.faq__answer {
    margin-bottom: var(--space-medium);
}

.copyright {
    font-size: var(--size-small);
    font-style: italic;
    text-align: center;
}

.error-box {
    position: absolute;
    left: 0;
    right: 0;

    padding: var(--space-medium);

    text-align: left;
    color: var(--color-white);

    background-color: var(--color-black);

    overflow: auto;
}
