APP_HOST=example.com

APP_ADMIN_SECRET=$2y$10$B0BOSuMQH5iGIP1fkC73p.Wh2QZVon7qPqyYGQn7yXOQmLmtS3.FC
APP_STRIPE_PRIVATE_KEY=your_sk_key
APP_STRIPE_PUBLIC_KEY=your_pk_key
APP_STRIPE_WEBHOOK_SECRET=your_whsec_key
APP_FLUS_PRIVATE_KEY=a_very_long_and_complicated_secret

APP_MAILER=smtp
APP_SMTP_FROM=noreply@example.com
APP_SMTP_DOMAIN=example.com
APP_SMTP_HOST=smtp.example.com
APP_SMTP_PORT=587
APP_SMTP_AUTH=true
APP_SMTP_AUTH_TYPE=LOGIN
APP_SMTP_USERNAME=noreply
APP_SMTP_PASSWORD=secret
APP_SMTP_SECURE=tls
