#####################################
# Application environment variables #
#####################################

# This MUST be set to production when you deploy
APP_ENVIRONMENT=development

# A secret and secured random key
APP_SECRET_KEY=change-me

# Must be the (sub)domain which will serve flus.fr
APP_HOST=localhost:8000

# Must be set to an email that you manage (used to receive support requests)
APP_SUPPORT_EMAIL=support@example.com

# The yearly financial goal in euros
APP_FINANCIAL_GOAL=36000

# The encoded password for the admin user (default is `mysecret`)
# Generated with PHP function `password_hash('password', PASSWORD_BCRYPT)`
APP_ADMIN_SECRET='$2y$10$B0BOSuMQH5iGIP1fkC73p.Wh2QZVon7qPqyYGQn7yXOQmLmtS3.FC'

# Stripe keys and secrets, get them from your dashboard
APP_STRIPE_PRIVATE_KEY=your_sk_key
APP_STRIPE_PUBLIC_KEY=your_pk_key
APP_STRIPE_WEBHOOK_SECRET=your_whsec_key

# A secret and secured random key, used for the API
APP_FLUS_PRIVATE_KEY=a_very_long_and_complicated_secret

###############################
# SMTP environement variables #
###############################

# It can be set either to `smtp` (to send emails via a server) or `mail` (to
# use the built-in PHP command)
APP_MAILER=smtp

# It’s the email that will send the transactional emails to the users
APP_SMTP_FROM=noreply@example.com

# /!\ /!\ /!\
# Note: the next lines can be commented if you’ve set `APP_MAILER` to `mail`

# The domain used in the `Message-ID` header (usually the domain part of `SMTP_FROM`)
APP_SMTP_DOMAIN=example.com

# The email server hostname listening for SMTP
APP_SMTP_HOST=smtp.example.com

# The email server port listening for SMTP, it’s often `465` (TLS) or `587` (STARTTLS)
APP_SMTP_PORT=587

# The value is most probably `true` unless you know what you’re doing
APP_SMTP_AUTH=true

# Valid values are 'CRAM-MD5', 'LOGIN', 'PLAIN', 'XOAUTH2' (and is often `LOGIN`)
APP_SMTP_AUTH_TYPE=LOGIN

# The SMTP username for the `SMTP_FROM` address
APP_SMTP_USERNAME=noreply

# The SMTP password for the `SMTP_FROM` address
APP_SMTP_PASSWORD=secret

# It is either `ssl` or `tls`, depending on the port you chose earlier
APP_SMTP_SECURE=tls
