input,
textarea {
    width: 100%;
    padding: var(--space-small);

    color: inherit;
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;

    background-color: var(--color-white);
    border: 1px solid var(--color-green-topaz);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 15rem;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
    border-color: var(--color-red-persian);
}

.input--size1 {
    max-width: 5rem;
}
