.layout__aside {
    --header-padding-y: var(--space-medium);
    --header-padding-x: var(--space-medium);
    --header-logo-height: 40px;
    --header-height: calc(var(--header-padding-y) * 2 + var(--header-logo-height));


    position: relative;

    min-width: 300px;
    padding: var(--header-padding-y) var(--header-padding-x);

    color: var(--color-pampas);

    background-color: var(--color-green-gable);
}

@media (max-width: 799px) {
    .layout__aside {
        display: flex;
    }
}

@media (min-width: 800px) {
    .layout__aside {
        min-height: 100vh;
    }

    .layout__aside > * + * {
        margin-top: var(--space-large);
    }
}

.layout__aside .aside__logo a {
    display: inline-block;
    height: var(--header-logo-height);
}

@media (max-width: 799px) {
    .layout__aside .aside__logo {
        flex: 1;
    }
}

@media (min-width: 800px) {
    .layout__aside .aside__logo {
        text-align: center;
    }
}

@media (max-width: 799px) {
    .layout__aside .aside__navigation .navigation__container {
        position: absolute;
        z-index: 100;
        top: var(--header-height);
        right: 0;
        left: 0;

        padding: var(--space-large) var(--space-medium);

        align-items: stretch;
        flex-direction: column;
        gap: var(--space-smaller);

        background-color: var(--color-green-gable);
        border-bottom: 2px solid var(--color-green-caribbean);
        box-shadow: 0 4px 6px 0 var(--color-box-shadow);
    }
}

.layout__aside .aside__navigation .navigation__link {
    display: block;
    padding: var(--space-small) var(--space-medium);

    color: currentcolor;
    font-weight: 600;
    text-decoration: none;

    border: 1px solid transparent;
    border-radius: var(--border-radius);

    transition: color 0.2s ease-in-out;
}

.layout__aside .aside__navigation .navigation__link:hover {
    color: var(--color-green-caribbean);
}

.layout__aside .aside__navigation .navigation__link[aria-current="page"] {
    color: var(--color-green-caribbean);

    border-color: currentcolor;
}
