@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
         url('fonts/open-sans-v17-latin-regular.woff') format('woff');
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;

    flex-direction: column;
    justify-content: center;

    font-size: 1.75rem;
    text-align: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    background-color: #fdfcff;
}

/**
 * These are displayed with JavaScript, so the form doesn't look broken with JS
 * disabled.
 */
#waiting-message,
#stripe-error,
#spinner {
    display: none;
}

#stripe-error {
    color: #ba1109;
}

#spinner {
    width: 40px;
    height: 40px;
    margin: 30px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
