:root {
    --color-green-gable: #0c3b34;
    --color-green-topaz: #00baa8;
    --color-green-caribbean: #00d7ad;
    --color-green-gossip: #d8fbcc;
    --color-green-forest: #212905;
    --color-green-rangoon: #181b0c;

    --color-red-persian: #ce2c31;

    --color-corduroy: #5c736f;
    --color-pampas: #f7f6f4;
    --color-white: #fff;

    --color-box-shadow: rgb(0 0 0 / 50%);
}
