@import "./variables/colors.css";
@import "./utils/fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 120%;

    scroll-behavior: smooth;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;

    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-family:
        Raleway,
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;

    background-color: var(--color-pampas);
}

/**
 * These are displayed with JavaScript, so the form doesn't look broken with JS
 * disabled.
 */
#waiting-message,
#stripe-error,
#spinner {
    display: none;
}

#stripe-error {
    color: var(--color-red-persian);
    font-weight: 600;
}

#spinner {
    width: 40px;
    height: 40px;
    margin: 30px auto;
    background-color: var(--color-green-caribbean);

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
